@font-face {
  font-family: 'kkk';
  font-style: normal;
  font-weight: 400;
  src: local("Stint Ultra Condensed"), local("StintUltraCondensed-Regular"), url(http://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUZ0M7CckEjtJ2VMldUDu5nQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face {
  font-family: 'kkk';
  font-style: normal;
  font-weight: 400;
  src: local("Stint Ultra Condensed"), local("StintUltraCondensed-Regular"), url(http://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUcBvcTyoFVl2hWxSOgahpEY.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'hhh';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(http://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'hhh';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Extra Condensed Regular"), local("FiraSansExtraCondensed-Regular"), url(http://fonts.gstatic.com/s/firasansextracondensed/v1/wg_5XrW_o1_ZfuCbAkBfGQCHOeWCQWG0jW-ep4kIJ70SbZyiE6aTiPyL3F1wza7H.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Extra Condensed Regular"), local("FiraSansExtraCondensed-Regular"), url(http://fonts.gstatic.com/s/firasansextracondensed/v1/wg_5XrW_o1_ZfuCbAkBfGVRjX9Jlut_-eN40c1mQErxbV0WvE1cEyAoIq5yYZlSc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  background-color: #fff8f0;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-size: 19px;
  font-family: Fira Sans Extra Condensed, sans-serif; }

.top {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: kkk, sans-serif;
  font-size: 3rem; }
  .top .col-1 {
    height: 100%;
    width: 30%;
    float: left; }
  .top .col-2 {
    height: 100%;
    padding: 0 20px;
    float: left;
    display: flex;
    align-items: center; }
  .top .line {
    height: 100%;
    width: 10%;
    float: left;
    background: url("img/line-top.png") no-repeat center center; }

.logo-ribbon {
  text-align: center;
  position: fixed;
  top: 0;
  right: 5%;
  width: 13%;
  min-width: 180px; }
  .logo-ribbon img {
    width: 100%; }

.col-blank {
  height: 100%;
  width: 20%;
  max-width: 380px;
  position: absolute; }

.col-nav {
  background: #335c67;
  background-image: radial-gradient(#608088 15%, transparent 0), radial-gradient(#608088 15%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  height: 100%;
  width: 20%;
  max-width: 380px;
  float: left;
  position: fixed;
  margin-left: 6%; }
  .col-nav .half-circle {
    width: 45%;
    max-width: 250px;
    background-color: #517d89;
    margin: 40px auto 0;
    padding: 4px 0 0;
    border-radius: 50% / 100% 100% 0 0;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-family: kkk, sans-serif; }
  .col-nav .ribbon {
    width: 100%;
    height: 72px;
    background: url(img/ribbon-background.png) repeat-x 0 0;
    background-size: auto 72px;
    color: white;
    text-align: center;
    font-size: 2.7rem;
    font-family: kkk, sans-serif; }
    .col-nav .ribbon .r-r {
      float: right;
      margin-right: -58px; }
    .col-nav .ribbon .r-l {
      float: left;
      margin-left: -58px; }
    .col-nav .ribbon span {
      text-transform: uppercase;
      display: inline-block;
      margin-top: 12px; }
  .col-nav .year {
    width: 65%;
    max-width: 250px;
    color: white;
    text-align: center;
    margin: 0 auto 0;
    background-color: #517d89;
    font-family: kkk, sans-serif;
    font-size: 1.4rem;
    padding: 0 0 4px; }
  .col-nav nav {
    width: 100%;
    color: white;
    background-color: #335c67;
    margin: 15% 0 0; }
    .col-nav nav .active {
      background-color: #517d89; }
      .col-nav nav .active span::before,
      .col-nav nav .active span::after {
        display: inline-block;
        content: '';
        width: 16px;
        height: 16px;
        margin: 0 10px;
        background: url("img/paw-nav.png") no-repeat 0 0;
        background-size: 100%; }
    .col-nav nav .nav-button {
      text-align: center;
      letter-spacing: 2px;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: solid 1px #1c3e47;
      transition: all 200ms; }
      .col-nav nav .nav-button:hover {
        background-color: #517d89; }
    .col-nav nav .last {
      border-bottom: solid 1px #1c3e47; }
  .col-nav nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem; }

* a {
  font-family: kkk, sans-serif; }

.clear {
  clear: both; }

.col-content {
  height: 100%;
  width: 52%;
  float: left;
  margin-left: 30%;
  margin-top: 150px;
  line-height: 1.5; }

ul {
  list-style-image: url("img/ul-dot.png"); }
  ul li {
    padding: 5px 0; }

h1,
h2 {
  color: #1c3e47;
  padding: 0 0 0 30px; }

.dog-break {
  margin: 5% 0;
  width: 100%;
  text-align: center; }

.image-box {
  width: 100%;
  text-align: center; }

.double-line {
  background: url("img/double-line.png") repeat-x;
  height: 13px;
  width: 100%;
  margin: 20px 0; }

.double-line-2 {
  background: url("img/double-line-2.png") repeat-x;
  height: 13px;
  width: 100%;
  margin: 20px 0; }

.important-txt {
  font-family: kkk, sans-serif;
  font-size: 1.8rem;
  color: #517d89; }

.staff {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .staff a {
    text-decoration: none; }
  .staff .person {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .staff .person img {
      border-radius: 50%;
      border: solid 10px #335c67;
      transition: all 200ms; }
      .staff .person img:hover {
        border: solid 10px #b04d4d; }
    .staff .person p {
      margin: 8px 0; }

@media only screen and (max-width: 1440px) {
  body {
    font-size: 17px; }

  .important-txt {
    font-size: 1.6rem; }

  .col-nav {
    background: #335c67;
    background-image: radial-gradient(#608088 15%, transparent 0), radial-gradient(#608088 15%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    height: 100%;
    width: 20%;
    max-width: 380px;
    float: left;
    position: fixed;
    margin-left: 6%; }
    .col-nav .half-circle {
      margin: 18px auto 0; }
    .col-nav nav {
      margin: 10% 0 0; }
    .col-nav nav a {
      font-size: 1.1rem; } }
@media only screen and (max-width: 1366px) {
  .col-nav .ribbon {
    width: 100%;
    height: 60px;
    background: url(img/ribbon-background.png) repeat-x 0 0;
    background-size: auto 60px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: kkk, sans-serif;
    margin-top: 14px; }

  .col-nav .ribbon .r-r {
    margin-right: -48px;
    height: 89px; }

  .col-nav .ribbon .r-l {
    margin-left: -48px;
    height: 89px; }

  .col-nav .half-circle {
    display: none; }

  .col-nav .year {
    display: none; }

  .col-nav nav .nav-button {
    padding: 4px 0; } }

/*# sourceMappingURL=style.css.map */
