@font-face {
  font-family: 'kkk';
  font-style: normal;
  font-weight: 400;
  src: local("Stint Ultra Condensed"), local("StintUltraCondensed-Regular"), url(http://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUZ0M7CckEjtJ2VMldUDu5nQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face {
  font-family: 'kkk';
  font-style: normal;
  font-weight: 400;
  src: local("Stint Ultra Condensed"), local("StintUltraCondensed-Regular"), url(http://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUcBvcTyoFVl2hWxSOgahpEY.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'hhh';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(http://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'hhh';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Extra Condensed Regular"), local("FiraSansExtraCondensed-Regular"), url(http://fonts.gstatic.com/s/firasansextracondensed/v1/wg_5XrW_o1_ZfuCbAkBfGQCHOeWCQWG0jW-ep4kIJ70SbZyiE6aTiPyL3F1wza7H.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Extra Condensed Regular"), local("FiraSansExtraCondensed-Regular"), url(http://fonts.gstatic.com/s/firasansextracondensed/v1/wg_5XrW_o1_ZfuCbAkBfGVRjX9Jlut_-eN40c1mQErxbV0WvE1cEyAoIq5yYZlSc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  background-color: #fff8f0;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-size: 19px;
  font-family: Lato, sans-serif; }

.top {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  font-family: kkk, sans-serif;
  font-size: 3rem; }

.logo-ribbon {
  text-align: center;
  position: fixed;
  top: 0;
  right: 5%;
  width: 13%;
  min-width: 180px; }
  .logo-ribbon img {
    width: 100%; }

.col-nav {
  background: #335c67;
  background-image: radial-gradient(#608088 15%, transparent 0), radial-gradient(#608088 15%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  height: 100%;
  width: 20%;
  max-width: 380px;
  float: left;
  position: fixed;
  margin-left: 6%; }
  .col-nav .half-circle {
    width: 45%;
    max-width: 250px;
    background-color: #517d89;
    margin: 40px auto 0;
    padding: 8px 0 3px;
    border-radius: 50% / 100% 100% 0 0;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    font-family: kkk, sans-serif; }
  .col-nav .ribbon {
    width: 100%;
    height: 98px;
    background: url(img/ribbon-background.png) repeat-x 0 0;
    background-size: auto 98px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: kkk, sans-serif; }
    .col-nav .ribbon .r-r {
      float: right;
      margin-right: -58px; }
    .col-nav .ribbon .r-l {
      float: left;
      margin-left: -58px; }
    .col-nav .ribbon span {
      text-transform: uppercase;
      display: inline-block;
      margin-top: 20px; }
  .col-nav .year {
    width: 65%;
    max-width: 250px;
    color: white;
    text-align: center;
    margin: -12px auto 0;
    background-color: #517d89;
    font-family: kkk, sans-serif;
    font-size: 1.7rem;
    padding: 5px 0 7px; }
  .col-nav nav {
    width: 100%;
    color: white;
    background-color: #335c67;
    margin: 15% 0 0; }
    .col-nav nav .active {
      background-color: #517d89; }
      .col-nav nav .active span::before,
      .col-nav nav .active span::after {
        display: inline-block;
        content: '';
        width: 16px;
        height: 16px;
        margin: 0 10px;
        background: url("img/paw-nav.png") no-repeat 0 0;
        background-size: 100%; }
    .col-nav nav .nav-button {
      text-align: center;
      letter-spacing: 2px;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: solid 1px #1c3e47; }
      .col-nav nav .nav-button:hover {
        background-color: #517d89; }
    .col-nav nav .last {
      border-bottom: solid 1px #1c3e47; }
  .col-nav nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; }

* a {
  font-family: kkk, sans-serif; }

.col-content {
  height: 100%;
  width: 70%;
  float: left;
  margin-left: 30%; }

.clear {
  clear: both; }

/*# sourceMappingURL=style.css.map */
