$base: #335c67;
$light-base: #517d89;
$dark-base: #1c3e47;

@mixin dots ($size, $dot, $baseback, $accent) {
  background: $baseback;
  background-image: 
  radial-gradient($accent $dot, transparent 0),
  radial-gradient($accent $dot, transparent 0);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
}

//kkk

/* latin-ext */
@font-face {
  font-family: 'kkk';
  font-style: normal;
  font-weight: 400;
  src: local('Wellfleet'), local('Wellfleet-Regular'), url(http://fonts.gstatic.com/s/wellfleet/v4/Hrlltf_-VcwaRNHdrDwsexJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'kkk';
  font-style: normal;
  font-weight: 400;
  src: local('Wellfleet'), local('Wellfleet-Regular'), url(http://fonts.gstatic.com/s/wellfleet/v4/qu15OBOh_Q0T8ooRUaKSDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


// Fajna jeśli zwiększyć letter spacing
/* latin-ext */
@font-face {
  font-family: 'ddd';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Condensed'), local('StintUltraCondensed-Regular'), url(http://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUZ0M7CckEjtJ2VMldUDu5nQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'ddd';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Condensed'), local('StintUltraCondensed-Regular'), url(http://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUcBvcTyoFVl2hWxSOgahpEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


//ta też ok

/* latin-ext */
@font-face {
  font-family: 'aaa';
  font-style: normal;
  font-weight: 400;
  src: local('Oldenburg'), local('Oldenburg-Regular'), url(http://fonts.gstatic.com/s/oldenburg/v4/OmRJVzACJxBuDlb8Qnj0sBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'aaa';
  font-style: normal;
  font-weight: 400;
  src: local('Oldenburg'), local('Oldenburg-Regular'), url(http://fonts.gstatic.com/s/oldenburg/v4/CRS5ubi7Czjub7bFdKPY-VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

//Ta była bardzo ok

/* latin-ext */
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url(http://fonts.gstatic.com/s/enriqueta/v5/iKmJkNq7osgLqqCZ6_EWcxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url(http://fonts.gstatic.com/s/enriqueta/v5/-KTKVm0Mx9ZCRXL9CXVIbVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}




//--------------------


/* latin-ext */
@font-face {
  font-family: 'hhh';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'hhh';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Extra Condensed Regular'), local('FiraSansExtraCondensed-Regular'), url(http://fonts.gstatic.com/s/firasansextracondensed/v1/wg_5XrW_o1_ZfuCbAkBfGQCHOeWCQWG0jW-ep4kIJ70SbZyiE6aTiPyL3F1wza7H.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Extra Condensed Regular'), local('FiraSansExtraCondensed-Regular'), url(http://fonts.gstatic.com/s/firasansextracondensed/v1/wg_5XrW_o1_ZfuCbAkBfGVRjX9Jlut_-eN40c1mQErxbV0WvE1cEyAoIq5yYZlSc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

//------ LATO

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



body {
  background-color: #fff8f0;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-size: 15px;
  font-family: Lato, sans-serif;
}

.col-nav {
  @include dots(30px, 15%, $base, #608088);
  height: 100%;
  width: 30%;
  max-width: 420px;
  float: left;
  position: fixed;
  margin-left: 10%;
  .logo-ribbon {
    text-align: center;
    background: url("img/logo-ribbon.png") no-repeat top center ;
    background-size: contain;
    width: 100%;
    height: 350px;
  }
  .ribbon {
    width: 100%;
    height: 98px;
    margin: -70px 0 0;
    background: url("img/ribbon-background.png") repeat 0 0 ;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: kkk, sans-serif;
    .r-r {
      float: right;
      margin-right: -58px
    }
    .r-l {
      float: left;
      margin-left: -58px;
    }
    span {
      text-transform: uppercase;
    }
  }
  .year {
    width: 200px;
    color: white;
    text-align: center;
    margin: -10px auto 0;
    background-color: $light-base;
  }
  nav {
    width: 100%;
    color: white;
    background-color: $base;
    margin: 5% 0 0;
    .active {
      background-color: $light-base;
      span::before,
      span::after {
        display: inline-block;
        content:'';
        width: 16px;
        height: 16px;
        margin: 0 10px;
        background: url("img/paw-nav.png") no-repeat 0 0 ;
        background-size: 100%;
      }
    }
    .nav-button {
      text-align: center;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: solid 1px $dark-base;
      &:hover {
        background-color: $light-base;
      }
    }
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
}

* a {
  font-family: kkk, sans-serif;
}

.col-content {
  height: 100%;
  width: 70%;
  float: left;
  margin-left: 30%;
}

.clear {clear: both}